:root{
    --orange-50:#ffefe6;
    --orange-100:#ffcfb0;
    --orange-200:#ffb78a;
    --orange-300:#ff9654;
    --orange-400:#ff8233;
    --orange-500:#ff6300;
    --orange-600:#e85a00;
    --orange-700:#b54600;
    --orange-800:#8c3600;
    --orange-900:#6b2a00;
    --orange-btn:#FD6F00;


    --black-50:#e6e6e6;
    --black-100:#b0b0b0;
    --black-200:#8a8a8a;
    --black-300:#545454;
    --black-400:#333333;
    --black-500:#000000;
    --black-600:#000000;
    --black-700:#000000;
    --black-800:#000000;
    --black-900:#000000;

    --font-size-55:3.833rem;
    --font-size-44:3.56rem;
    --font-size-35:2.444rem;
    --font-size-28:1.556rem;
    --font-size-23:1.278rem;
    --font-size-18:1.000rem;
    --font-size-14:0.778rem;
    --font-size-12:0.667rem;
    --font-size-21:21px;

    --padding-24:24px;
}

body{
    padding: 0;
    margin: 0;
    color: var(--black-500);
}

/*styles smartphone */
@media screen and (max-width: 480px) {
    /*start style header*/
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--padding-24);
    }

    .header__logo{
        text-decoration: none;
        color: var(--black-50);
        font-size: 28px;
    }

    .header__navbar__list{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        list-style: none;
    }

    .header__navbar__list__item__link{
        text-decoration: none;
        font-size: var(--font-size-21);
        color: var(--black-500);
    }

    .header__btn{
        display: none;
    }

    /*End style header*/

    /*start style section hiro*/
    .main__hiro{
        padding: var(--padding-24);
        display: flex;
        flex-direction: column-reverse;
    }

    .main__hiro__container__content{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .main__hiro__content__container__paragraph{
        font-weight: 600;
        font-size: var(--font-size-14);
    }
    /*
    .main__hiro__content__container__titles{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }*/
    .main__hiro__content__container__titles__title{
        color: var(--orange-btn);
        font-weight: 600;
        font-size: var(--font-size-23);
        line-height: normal;
    }

    .main__hiro__content__container__titles__subtitle{
        font-weight: 700;
        font-size: 39px;
        line-height: 0;
    }

    .main__hiro__paragraph{
        line-height: normal;
        font-size: 400;
        text-align: justify;
        font-size: var(--font-size-21);
    }
     
    .main__hiro__btn{
        width: 188px;
        height: 52px;
        background-color: var(--orange-btn);
        border-radius: 5px;
        border: none;
        font-size: 21px;
        color: #fff;
        font-weight: 400;
    }

    .main__hiro__image{
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 16px;
    }

    .main__hiro__image__img{
        width: 100%;
        height: 450px;
        border-radius: 50%;
        object-fit: cover;
    }

    .main__hiro__image__listSociaux{
        list-style: none;
        padding: 0;
        display: flex;
        column-gap:16px;
    }

    .main__hiro__image__lististSociaux__item__link__img{
        width: 32px;
        height: auto;
    }
    /*End style section hiro*/

    /*start style section about-me*/
    .main__aboutMe{
        padding: var(--padding-24);
        display: flex;
        flex-direction: column-reverse;
        row-gap: 24px;
    }

    .main__aboutMe__img{
        width: 100%;
        height: 450px;
        border-radius: 50%;
        object-fit: cover;
    }

    .main__aboutMe__content{
        display:flex ;
        flex-direction: column;
        row-gap: 24px;
    }

    .main__aboutMe__content__container__title{
        font-size: 39px;
        text-align: center;
        font-weight: 600;
    }

    .main__aboutMe__content__container__paragraph{
        line-height: normal;
        font-size: 400;
        text-align: justify;
        font-size: var(--font-size-21);
    }
    .main__aboutMe__content__list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .main__aboutMe__content__list__item{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .main__aboutMe__content__list__item__domain{
        font-size: var(--font-size-23);
        font-weight: 600;
    }

    .main__aboutMe__content__list__item__input {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 8px;
        background: var(--orange-btn);
        border-radius: 5px;
        outline: none;
    }
    /*End style section about-me*/
    
    /*start style section services*/
    .main__services{
        padding: var(--padding-24);
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .main__services__content__title{
        font-size: 39px;
        text-align: center;
        font-weight: 600;
    }

    .main__services__content__paragraph{
        line-height: normal;
        font-size: 400;
        text-align: center;
        font-size: var(--font-size-21);
    }

    .main__services__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        align-content: center;
        align-items: center;
        justify-content: center;
        row-gap: 12px;
    }

    .main__services__list__item{
        justify-content: center;
        background-color: #F8F8F8;
        border-radius: 14px;
        padding: 48px 24px;
        width: 330px;
    }

    .main__services__list__item__img{
        width: 47px;
        height: 82px;
    }

    .main__services__list__item__domain{
        font-size: var(--font-size-35);
        font-weight: 600;
        line-height: 0%;
    }
    .main__services__list__item__paragraph{
        font-size: var(--font-size-21);
        font-weight: 400;
    }
    /*End style section services*/
    
    /*Start style section my-projects*/
    .main__myProjects{
        display: flex;
        flex-direction: column;
        padding: var(--padding-24);
    }

    .main__myProjects__content__title{
        font-size: 39px;
        text-align: center;
        font-weight: 600;
    }

    .main__myProjects__content__paragraph{
        line-height: normal;
        font-size: 400;
        text-align: center;
        font-size: var(--font-size-21);
        column-gap: 20px;
    }

    .main__myProjects__list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .myProjects__list__tem__btn{
        padding: 10px 10px;
        outline: 1px solid #545454;
        border: none;
        border-radius: 12px;
        font-size: var(--font-size-14);
    }

    .main__myProjects__listRealization{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .main__myProjects__listRealization__item__img{
        width: 100%;
        object-fit: cover;
    }

    .main__myProjects__listRealization__item__title{
        color: var(--orange-btn);
        font-weight: 400;
        font-size: var(--font-size-18);
        line-height: normal;
    }

    .main__myProjects__listRealization__item__subtitle{
        font-weight: 700;
        font-size: var(--font-size-23);
        color: #1E1E1E;
    }
    /*End style section my-projects*/

    /*Start style section testimonials*/

    .main__testimonials{
        padding: var(--padding-24);
    }

    .main__testimonials__content__title{
        font-size: 39px;
        text-align: center;
        font-weight: 600;
    }
    .main__testimonials__content__paragraph{
        line-height: normal;
        font-size: 400;
        text-align: center;
        font-size: var(--font-size-21);
    }

    .main__testimonials__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    /*
    .main__testimonials__list__item{
        display: flex;
        flex-direction: row;
        padding: var(--padding-24);
        column-gap: 12px;
    }

    .main__testimonials__list__item__img{
        width: 235px;
        height: auto;
    }
    End style section testimonials*/

    /*
    .footer{
    
    }*/

    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__container__logo{
        text-decoration: none;
        color: var(--black-50);
    }

    .footer__container__listMenu{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        list-style: none;
    }

    .footer__container__listMenu__item__link{
        text-decoration: none;
        font-size: var(--font-size-6);
        color: var(--black-500);
    }
    .footer__container__listResaux{
        list-style: none;
        padding: 0;
        display: flex;
        gap:10px;
    }

    .footer__container__listResaux__item__link__img{
        width: 32px;
        height: auto;
    }
    .footer__copyrigth{
        background-color:#545454;
        height: 64px;
        text-align: center;
    }
}

/* Styles tablette*/
@media screen and (min-width:481px) and (max-width: 768px) {

}